* {
    color: #FFF0CE;
}
h1 {
    
    color: #FFC436; 
    background-color: #0174BE;
    margin: 100px; 
    padding: 30px;
    font-size: 100px;
    font-family: "Stalinist One", sans-serif;
}
h2 {
    font-family: "Roboto Flex", sans-serif;
    color: aliceblue;
    padding: 20px;  
}
body {
    background-color: #0C356A;
}
img {
    max-width: 540px;
}